PORT=5006
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/agoo-alert-web
JWT_SECRET=votre_cle_secrete_tres_longue_et_complexe
DEFAULT_ADMIN_PHONE=+22890000000
DEFAULT_ADMIN_PASSWORD=AdminAgoo2024!
DEFAULT_ADMIN_FIRSTNAME=Admin
DEFAULT_ADMIN_LASTNAME=Agoo
