/* Reset CSS de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* Vous n'avez pas besoin d'ajouter les directives Tailwind ici car nous utilisons le CDN */